@font-face {
    font-family: "RealityCheck";
    src: url("./reality_check_demo-webfont.woff")

}

.form{
    width: 700px;
    background: linear-gradient(100deg, #0CE8B3 0%, #02B7F7 100%);
}

p, button{
    font-family: "RealityCheck", serif;
}

button{
    background-color: #0CE8B3;
}

.br15{
    border-radius: 15px;
}

.ma5{
    margin-left: 5px;
}