.bounding-box{
    position: absolute;
    box-shadow: 0 0 0 3px #0CE8B3 inset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
}

.br15{
    border-radius: 15px;
}